*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin:0;
  padding:0;
  outline: 0;
  list-style:none;
}
ins{
  text-decoration: none;
}
.center {
  /* width: 1170px; */
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
}
/* start header */
.main_menu {
  background: -o-linear-gradient(#e3e3e5, #e9e9ea);
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e5), to(#e9e9ea));
  background: linear-gradient(#e3e3e5, #e9e9ea);
}
.main_menu nav {
  padding: 14px 0px;
  text-align: center;
}
.main_menu nav a {
  font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #313030;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin: 0px 12px;
  padding: 3px 25px;
  border-bottom: 1px solid transparent;
}
.main_menu nav a:hover {
  border-bottom: 1px solid #000;
  cursor: default;
}
.main_menu nav a.active {
  background-color: #f0c830;
}
.main_menu nav a.active:hover {
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}
.logo_section {
  text-align: center;
  padding: 54px 0px 0px;
}
/* finish header */
/* start slider */
.slider{
  margin-top: 18px;
}
.slider img{
  max-width: 100%;
}
.slider button {
  position: absolute;
  top: 50%;
  width: 72px;
  height: 61px;
  background-color: rgba(0, 0, 0, 0.35);
  border: 0;
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -31px;
}
.slider button:hover{
  background-color: #e5b819;
}
.slider button.slick-prev {
  background-image: url("../images/left_arrow.png");
  left: 0;
}
.slider button.slick-next {
  background-image: url("../images/right_arrow.png");
  right: 0;
}
/* finish slider */
/* start triggers block */
.triggers{
  padding: 50px 0px 88px;
}
.triggers ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.triggers ul li{
    width: 370px;
    height: 232px;
    background: #e5e5e7;
    display: inline-block;
    vertical-align: top;
    padding: 21px 30px 20px 39px;
    position: relative;
}
.triggers ul li .triggers_ico{
  float: left;
  margin-right: 22px;
  margin-top: 5px;
}
.triggers ul li:nth-child(2) .triggers_ico{
  margin-right: 23px;
  margin-top: -4px;
}
.triggers ul li:nth-child(3) .triggers_ico{
  margin-right: 18px;
    margin-top: 13px;
}
.triggers ul li .triggers_title{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 46px;
  line-height: 48px;
  color: #2a2929;
}
.triggers ul li .triggers_title ins{
  display: block;
  color: #fdc903;
}
.triggers ul li p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #878787;
  margin-top: 13px;
  clear: both;
}
.triggers ul li a{
  position: absolute;
  bottom: 21px;
  right: 30px;
}
/* finish triggers block */
/* start tel: */
.to_action{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
  color: #fff;
  background: #fdc903;
  text-align: center;
  padding: 43px 0px 41px;
  letter-spacing: 1px;
}
.to_action .center{
  background: url("../images/taxi_ico.png") no-repeat left center, url("../images/taxi_ico.png") no-repeat right center;
  background-size: 15%;
}
.to_action a{
  font-size: 60px;
  text-decoration: none;
  color:#fff;
}
.to_action a::before{
  content: url("../images/phone.png");
  position: relative;
  top: -3px;
  left: -9px;
}
.to_action p{
  margin-top: 14px;
  letter-spacing: 1px;
}
/* finish tel: */
/* start form */
.booking_form .form{
  width: 433px;
  padding-bottom: 75px;
}
.booking_form .form form{
  margin-top: 46px;
}
.booking_form .booking_form_title{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  color: #313030;
  padding-top: 81px;
}
.booking_form .input_small{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}
.booking_form .input_small input[type="text"]{
  width: 193px;
  margin-bottom: 13px;
}
input[type="text"]{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 30px;
  border: 1px solid #f4f6f7;
  background: #f1f3f4;
  padding: 9px 11px;
  color: #737272;  
}
::-webkit-input-placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
}
:-moz-placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
}
::-moz-placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
}
:-ms-input-placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
}
::-ms-input-placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
}
::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
}
*:focus::-webkit-input-placeholder{
  color:transparent
}
*:focus:-moz-placeholder{
  color:transparent
}
*:focus::-moz-placeholder{
  color:transparent
}
*:focus:-ms-input-placeholder{
  color:transparent
}
*:focus::-ms-input-placeholder{
  color:transparent
}
*:focus::placeholder{
  color:transparent
}
.booking_form .input_label span{
  font-size: 14px;
  color: #737272;
  line-height: 30px;
}
.booking_form .input_label label{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  margin-bottom: 17px;
}
.booking_form .input_label label:last-child{
  margin-bottom: 0;
}
.booking_form .input_label label input[type="text"]{
  width: 336px;
}
.booking_form .input_label label input[type="text"]#datepicker{
  background-image: url("../images/datapicker.png");
  background-repeat: no-repeat;
  background-position: right 23px center;
}

/* radios butons */

.booking_form .radios{
  margin-top: 8px;
}
.booking_form .radio_title{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
}
.booking_form .radio_butons{
  margin-top: 13px;
}
.booking_form .radio_butons label{
  display: inline-block;
  vertical-align: top;
}
.booking_form .radio_butons label input[type="radio"]{
  display: none;
}
.booking_form .radio_butons label i{
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  border: 3px solid #98a6b3;
  border-radius: 50%;
  position: relative;
}
.booking_form .radio_butons label span{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
}
.booking_form .radio_butons label{
  margin-right: 47px;
}
.booking_form .radio_butons label i::after{
  content: "";
  width: 10px;
  height: 7px;
  background-image: url("../images/tick.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.booking_form .radio_butons label input[type="radio"]:checked+i{
  border: 3px solid green;
}
.booking_form .radio_butons label input[type="radio"]:checked+i::after{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
/* start select */
.booking_form .select{
  margin-top: 22px;
  padding-left: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.booking_form .select label{
  cursor: pointer;
}
.booking_form .select ins{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272;
  line-height:30px;
  display: inline-block;
  vertical-align: top;
  margin-right: 37px;
}
.jselector{
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.jselector select{
  display: none;
  
}
.jselector .wrap{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #737272; 
  line-height: 30px; 
  width: 96px;
  height: 30px;
  border: 1px solid #f4f6f7;
  background: #f1f3f4;
  position: relative;
  padding-left: 10px;
}
.jselector .dropdown{
  display: none;
}
.jselector.is-shown .dropdown{
  display: block;
  padding-left: 40px;
}
.jselector.is-shown .dropdown ul{
  list-style: none;
  border: 1px solid #cccccc;
  width: 55px;
  height: 65px;
  overflow: auto;
}
.jselector button{
  position: absolute;
  top: 5px;
  right: 1px;
  width: 23px;
  height: 22px;
  border: 1px solid #f4f6f7;
  font-size: 0;
  background: url("../images/ico_5.png") no-repeat center #f1f4f6;
}
.jselector.is-shown .dropdown ul{
  position: absolute;
}
.jselector.is-shown .dropdown ul li{
  padding: 0 9px;
}
.jselector.is-shown .dropdown ul li:hover{
  background: rgba(240, 243, 245, .65);
}
.jselector.is-shown .dropdown ul li.selected{
  background:#f0f3f5 ;
}
/* start textarea */
.booking_form .textarea{
  height: 143px;
  width: 434px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid #f4f6f7;
  background: #f1f3f4;
  padding: 9px 11px;
  color: #737272;
  margin-top: 66px;
  padding: 11px;
}
/* start form button */
.booking_form input[type="submit"]{
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  color:#fff;
  background:#fdc903;
  border: 0;
  margin-top: 23px;
  padding: 11px 26px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
.booking_form input[type="submit"]:hover{
  background: rgba(253, 201, 3, 0.5);
  color: #000000;
}
/* start car link */
.booking_form .center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.booking_form .car_links{
  margin-top: 83px;
}
.booking_form .car_link ul{
  list-style: none;
}
.car_links ul li{
  position: relative;
  margin-bottom: 4px;
  overflow: hidden;
}
.car_links ul li span{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
  width: 313px;
  height: 46px;
  position: absolute;
  left: 1px;
  bottom: 3px;
  color: #fff;
  background: rgba(0, 0, 0, 0.54);
  padding-left: 28px;
}
.car_links ul li img{
  border: 1px solid #ebeaea;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.car_links ul li:hover img{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
/* star footer */
footer {
  background: #4a4a4a;
  padding: 65px 0px 117px;
  position: relative;
  padding-bottom: 95px;
}
footer .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .copy {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
}
footer .copy > span {
  color: #e2e2e2;
}
footer .copy > span > span {
  color: #fdc903;
}
footer .copy ins {
  font-size: 14px;
  color: #d8d8d8;
}
footer .soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .soc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fdc903;
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
footer .soc a:nth-child(2) {
  margin: 0 14px;
}
footer .phone {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  color: #e2e2e2;
}
footer .phone a {
  font-size: 40px;
  text-decoration: none;
  color: #e2e2e2;
}

.up {
  position: absolute;
  top: 3px;
  right: 9%;
  width: 61px;
  height: 75px;
  background: #d2d2d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* start page ABOUT */
/* start section left */
.about{
  margin-top: 9px;
}
.about .center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .left{
  width: 680px;
}
.about .left h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color:#313030;
  margin-bottom: 19px;
}
.about .left img{
  float: left;
  margin-right: 31px;
  margin-bottom: 25px;
}
.about .left h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #4a4a4a;
  line-height: 20px;
  margin-bottom: 21px;
}
.about .left p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #878787;
  line-height: 20px;
  margin-bottom: 20px;
}
.about .left .clear{
  clear: both;
}
.about .left a{
  text-decoration: none;
  color:#f5c306;
  border-bottom: 1px solid transparent;
}
.about .left a:hover{
  border-bottom: 1px solid black;
}
/* start section right */
.about .right{
  width: 368px;
}
.about .right h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color:#313030;
  margin-bottom: 19px;
}
.about .right ol li{
  list-style: none;
}
.about .right ol li span{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #4a4a4a;
  line-height: 20px;
  margin-bottom: 21px;
}
.about .right ol li p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #878787;
  line-height: 20px;
  margin-bottom: 20px;
}
.about .right ol{
  counter-reset: myCounter;
}
.about .right ol li{
  position: relative;
  padding-left: 57px;
}
.about .right ol li:before{
  content: counter(myCounter);
  counter-increment:myCounter;
  width: 45px;
  height: 44px;
  color:#fff;
  font-size: 36px;
  background: #fedd5e;
  position: absolute;
  top: 3px;
  left: 0;
  text-align: center;
  line-height: 44px;
}
/* start testimonials */
.testimonials{
  margin-top: 55px;
  padding-bottom: 113px;
}
.testimonials h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color:#313030;
  margin-bottom: 37px;
}
.testimonials ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonials ul li{
  width: 372px;
  height: 206px;
  background: #e7e7e9;
  padding: 60px 39px 28px 48px;
  position: relative;
}
.testimonials ul li p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color:#878787;
  font-style: italic;
  line-height: 20px;
}
.testimonials ul li span{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  color: #727171;
  line-height: 20px;
  display: block;
  text-align: right;
  padding-top: 21px;
}
.testimonials ul li p::before{
  content: url("../images/about_ico_2.png");
  position: absolute;
  left: 32px;
  top: 32px;
}
.testimonials ul li ::after{
  content: url(../images/about_ico_3.png);
  position: absolute;
  bottom: -31px;
  left: 68px;
}
/* page cars */
.cars{
  padding-top: 9px;
  padding-bottom: 75px;
}
.cars h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  color: #313030;
  margin-bottom: 44px;
}
.cars ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
}
.cars ul:last-child{
  margin-bottom: 0;
}
.cars ul li a{
  display: inline-block;
  position: relative;
}
.cars ul li a::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.cars ul li a:hover::before{
  opacity: 1;
}
.cars ul li a::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 64px;
  height: 64px;
  margin: auto;
  background: url("../images/loup.png");
  -webkit-transform:scale(0);
      -ms-transform:scale(0);
          transform:scale(0);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
.cars ul li a:hover::after{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
/* start page services */
.services{
  padding-top: 20px;
  padding-bottom: 61px;
  font-family: 'Open Sans', sans-serif;
}
.services h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #4a4a4a;
  line-height: 20px;
}
.services ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 28px;
}
.services ul li{
  width: 370px;
  padding: 25px 21px;
  margin-bottom: 30px;
  background-color: #e6e6e8;
}
.services ul li img{
  margin-bottom: 22px;
}
.services ul li span{
  font-size: 20px;
  line-height: 20px;
}
.services ul li p{
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
}
.services ul li a{
  font-size: 14px;
  padding: 11px 13px;
  background-color: #f5d45a;
  text-decoration: none;
  display: inline-block;
  margin-top: 24px;
  color: #fff;
  border-bottom: 1px solid transparent;
  line-height: 11px;
}
.services ul li a:hover{
  background-color: rgba(245, 212, 90, .6);
  color: #000;
}
/* start page contacts */
.contacts{
  margin-top: 9px;
}
.contacts h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #313030;
  margin-bottom: 42px;
}
.contacts .contact_info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 80px;
}
.contacts .contact_info h2{
  margin-bottom: 24px;
}
.contacts .contact_info .left{
  width: 472px;
}
.contacts .contact_info .left span{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #4a4a4a;
  display: block;
  margin-top: 21px;
}
.contacts .contact_info .left p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #878787;
  margin-top: 21px;
}
.contacts .contact_info .left p a{
  text-decoration: none;
  color: #f5c306;
}
.contacts .contact_info .left p a:hover{
  text-decoration: underline;
}
.contacts .contact_info .right{
  width: 574px;
}
.contacts .contact_info .right h2{
  margin-bottom: 30px;
}
.contacts .right form input[type="text"]{
  background: transparent;
  border: 1px solid #f0eeee;
  width: 170px;
  padding-left: 29px;
  color: #000;
}
.contacts .right .flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          margin-bottom: 10px;
}
.contacts .right form textarea{
  height: 221px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid #f0eeee;
  color: #000;
  padding: 23px 31px;
}
.contacts .right form .btns{
  text-align: right;
}
.contacts .right form input[type="submit"], 
.contacts .right form input[type="reset"]{
  width: 86px;
  height: 38px;
  background: #fdc903;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  border: 0;
  line-height: 38px;
  margin-top: 23px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  margin-left: 3px;
}
.contacts .right form input[type="submit"]:hover, 
.contacts .right form input[type="reset"]:hover{
  background-color: rgba(245, 212, 90, .6);
  color: #000;
}

/************
@media screen 
*************/
@media screen and (max-width:1600px){
  .up{
    height: 30px;
  }
}
@media screen and (max-width:1180px){
  .booking_form .center, footer .center{
    padding: 0 10px;
  }
}
@media screen and (max-width:1100px){
  .triggers ul{
    display: block;
    text-align: center;
  }
  .triggers ul li{
    text-align: left;
    margin: 0 20px 40px 20px;
  }
}
@media screen and (max-width:1024px){
  .booking_form .car_links{
    width: 433px;
  }
  .car_links ul li img{
    max-width: 100%;
  }
}
@media screen and (max-width:890px){
  .booking_form .form{
    width: 390px;
  }
  .booking_form .textarea{
    width: 390px;
  }
  .booking_form .car_links{
    width: 390px;
  }
}
@media screen and (max-width:840px){
  footer{
    padding-bottom: 65px;
  }
  footer .center{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .soc{
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .center div{
    margin-bottom: 10px;
  }
}
@media screen and (max-width:810px){
  .triggers {
    padding-bottom: 50px;
}
  .booking_form .center{
    display: block;
  }
  .booking_form .form{
    margin: 0 auto;
    padding-bottom: 0px;
  }
  .booking_form .car_links{
    margin: 30px auto 0px;
    padding-bottom: 75px;
  }
}
@media screen and (max-width:700px){
  .to_action{
    font-size: 30px;
  }
  .to_action a{
    font-size: 40px;
  }
  .to_action a::before{
    top: 6px;
  }
}
@media screen and (max-width:660px){
  .main_menu nav a{
    margin: 0;
  }
}
@media screen and (max-width:540px){
  .main_menu nav a{
    display: block;
  }
}
@media screen and (max-width:500px){
  .slider button{
    background-color: transparent;
  }
  .triggers ul li{
    width: auto;
    height: auto;
    margin: 0 0 20px 0;
    padding: 21px 10px 50px 20px;
  }
  .to_action{
    font-size: 20px;
  }
  .to_action a{
    font-size: 30px;
  }
}
@media screen and (max-width:410px){
  .booking_form .form{
    width: auto;
  }
  .booking_form .input_small input[type="text"]{
    width: 100%;
  }
  .booking_form .input_label label input[type="text"] {
    width: 85%;
  }
  .booking_form .textarea {
    width: 100%;
  }
  .booking_form .car_links{
    width: 100%;
  }
  .booking_form input[type="submit"]{
    width: 100%;
  }
}
@media screen and (max-width:400px){
  .to_action .center{
    background: none;
  }
  .booking_form .radio_butons label {
    margin-right: 16px;
  }
  footer .copy{
    font-size: 20px;
  }
  footer .soc a{
    width: 50px;
    height: 50px;
  }
  footer .phone a{
    font-size: 30px;
  }
}



/* font-family: 'Marvel', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
