*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  outline: none;
}
ins{
  text-decoration: none;
}
.center {
  width: 1170px;
  margin: 0 auto;
}
/* start header */
.main_menu {
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e5), to(#e9e9ea));
  background: -o-linear-gradient(#e3e3e5, #e9e9ea);
  background: linear-gradient(#e3e3e5, #e9e9ea);
}
.main_menu nav {
  padding: 14px 0px;
  text-align: center;
}
.main_menu nav a {
  font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #313030;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin: 0px 12px;
  padding: 3px 25px;
  border-bottom: 1px solid transparent;
}
.main_menu nav a:hover {
  border-bottom: 1px solid #000;
  cursor: default;
}
.main_menu nav a.active {
  background-color: #f0c830;
}
.main_menu nav a.active:hover {
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}
.logo_section {
  text-align: center;
  padding: 54px 0px 18px;
}
/* finish header */
/* start slider */
.slider button {
  position: absolute;
  top: 50%;
  width: 72px;
  height: 61px;
  background-color: rgba(0, 0, 0, 0.35);
  border: 0;
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
.slider button:hover{
  background-color: #e5b819;
}
.slider button.slick-prev {
  background-image: url("../images/left_arrow.png");
  left: 0;
}
.slider button.slick-next {
  background-image: url("../images/right_arrow.png");
  right: 0;
}
/* finish slider */
/* start triggers block */
.triggers{
  padding: 50px 0px 88px;
}
.triggers ul{
  display: flex;
  justify-content: space-between;
}
.triggers ul li{
    width: 370px;
    height: 232px;
    background: #e5e5e7;
    list-style:none;
    display: inline-block;
    vertical-align: top;
    padding: 21px 30px 20px 39px;
    position: relative;
}
.triggers ul li .triggers_ico{
  float: left;
  margin-right: 22px;
  margin-top: 5px;
}
.triggers ul li:nth-child(2) .triggers_ico{
  margin-right: 23px;
  margin-top: -4px;
}
.triggers ul li:nth-child(3) .triggers_ico{
  margin-right: 18px;
    margin-top: 13px;
}
.triggers ul li .triggers_title{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 46px;
  line-height: 48px;
  color: #2a2929;
}
.triggers ul li .triggers_title ins{
  display: block;
  color: #fdc903;
}
.triggers ul li p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #878787;
  margin-top: 13px;
  clear: both;
}
.triggers ul li a{
  position: absolute;
  bottom: 21px;
  right: 30px;
}
/* finish triggers block */
/* start tel: */
.to_action{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
  color: #fff;
  background: #fdc903;
  text-align: center;
  padding: 43px 0px 41px;
  letter-spacing: 1px;
}
.to_action .center{
  background: url("../images/taxi_ico.png") no-repeat left center, url("../images/taxi_ico.png") no-repeat right center;
}
.to_action a{
  font-size: 60px;
  text-decoration: none;
  color:#fff;
}
.to_action a::before{
  content: url("../images/phone.png");
  position: relative;
  top: -3px;
  left: -9px;
}
.to_action p{
  margin-top: 14px;
  letter-spacing: 1px;
}




/* font-family: 'Marvel', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
